<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>craigstab Options</title>
    <link rel="stylesheet" href="../css/css_reset.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="../css/options.css" type="text/css" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <h1>craigstab options</h1>
      <ul class="rules">

      </ul>
      <p>
        Paste from the address bar the url of the craigslist search page that you wish to put results on your new tabe page. Note: You can also do this by clicking the "add rule" button in the craigstab toolbar while you are on the craigslist search page you want to use.
      </p>

      <form class="options-form">
        <input type="url" name="rule" value="">
        <button type="button" name="button">Add Rule</button>
      </form>
    </div>
  </body>
</html>
